<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2>TRAYS</h2>
      <h5>NUMBER OF TRAYS: <%= @trays.length %></h5>
      <div class="row">
        <div class="header">
          <%= link_to 'ADD TRAY', new_tray_path, class: "btn btn-raised btn-success hoverable" %>
          <%= link_to 'BACK', root_path, class: "btn btn-raised btn-default hoverable" %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <% if @trays.length == 0 %>
      <%= flash[:danger] = "PLEASE ADD A TRAY" %>
    <% else %>
      <% @trays.each do |tray| %>
            <div class="col-md-3">
              <div class="card hoverable">
                <div class="card-height-indicator"></div>
                <div class="card-content">
                  <div class="card-image">
                    <%= link_to attachment_image_tag(tray.images.first, :file, :fill, 200, 200), tray_path(tray.id) %>
                    <h3 class="card-image-headline"><%= tray.title.upcase %></h3>
                  </div>
                  <div class="card-body">
                    <%= tray.notes %>
                  </div>
                </div>
                <div class="card-footer">
                  <%= link_to 'VIEW', tray, class: "btn btn-raised btn-success hoverable" %>
                  <%= link_to 'DELETE', tray, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-raised btn-default hoverable" %>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  </div>
</div>


