<p id="notice"><%= notice %></p>

<div class="row">
    <div class="col-md-8">
      <div class="panel panel-success">
          <%= render 'trays/navbar' %>
        <div class="panel-body">
            <ul class="nav nav-pills">
              <li><a href="javascript:void(0)">PLANTS <span class="badge"><strong><%= @tray.plants.count %></strong></span></a></li>
              <li><a href="javascript:void(0)">RESERVOIR CAPACITY  <span class="badge"><%= @tray.rescap %></span></a></li>
            </ul>
            <%= render @tray.tray_cycles.reject(&:new_record?) %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <% if @tray.datalogs.length != 0 %>
          <%= pie_chart({"Amb_Cur" => @tray.datalogs.last.ambcur, "Amb_Min" => @tray.datalogs.last.ambmin, "Amb_Max" => @tray.datalogs.last.ambmax, "Fol_Cur" => @tray.datalogs.last.folcur, "Fol_Min" => @tray.datalogs.last.folmin, "Fol_Max" => @tray.datalogs.last.folmax }) %>

      <% else %>
          <div class="alert alert-dismissible alert-info" align="center">
            <h2>NO DATA YET, ADD SOME IN THE FORM BELOW!</h2>
          </div>

    <% end %>
      </div>
</div>
<div class="row">
  <div class="jumbotron">
    <%= line_chart [
                       {name: "Amb Max", data: @tray.datalogs.inject({}) {|res, v| res[v[:created_at]] = v.ambmax; res }},
                       {name: "Amb Cur", data: @tray.datalogs.inject({}) {|res, v| res[v[:created_at]] = v.ambcur; res }},
                       {name: "Amb Min", data: @tray.datalogs.inject({}) {|res, v| res[v[:created_at]] = v.ambmin; res }},
                       {name: "Fol Max", data: @tray.datalogs.inject({}) {|res, v| res[v[:created_at]] = v.folmax; res }},
                       {name: "Fol Cur", data: @tray.datalogs.inject({}) {|res, v| res[v[:created_at]] = v.folcur; res }},
                       {name: "Fol Min", data: @tray.datalogs.inject({}) {|res, v| res[v[:created_at]] = v.folmin; res }}
                   ], xtitle: "DATE", ytitle: "TEMPERATURE" %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="col-md-7">
        <div class="well">
          <%= render 'datalogs/form' %>
        </div>
      </div>
      <div class="col-md-5"> 
        <div class="well">
          <%= render 'tray_cycles/form' %> 
        </div>
      </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
      <% @tray.plants.each do |plant| %>
          <div class="col-md-3">
            <div class="card hoverable">
              <div class="card-height-indicator"></div>
              <div class="card-content">
                <div class="card-image" style="background-color: #66bb6a">
                  <%= attachment_image_tag(plant.images.first, :file, :fill, 200, 200) %>
                  <h3 class="card-image-headline"><%= link_to plant.title.upcase, plant_path(plant.id) %></h3>
                </div>
                <div class="card-body">
                  <% plant.plant_cycles.each do |cycle| %>
                      <span class="label label-primary"><%= cycle.title.upcase %> <%= cycle.schedule.first.strftime("%d %b.") %></span>
                  <% end %>
                  <h4>Planted <%= time_ago_in_words(plant.created_at) %> ago.</h4>
                </div>
              </div>
              <div class="card-footer">
                <%= link_to 'VIEW', plant_path(plant.id), class: "btn btn-raised btn-success hoverable" %>
                <%= link_to 'DELETE', plant, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-raised btn-default hoverable" %>
              </div>
            </div>
          </div>
      <% end %>
  </div>
</div>






