<%= render "shared/errors", obj: @tray %>
<div class="row">
  <div class="col-md-12">

    <%= form_for([@tray, @tray.tray_cycles.build]) do |f| %>

        <div class="col-md-12">
          <div class="col-sm-10">
            <%= f.text_field :title, class: 'form-control', id: 'focusedInput1', placeholder: '(CYCLE TITLE)' %>

            <%= f.schedule_select :schedule, style: :bootstrap, until: true, input_types: {date: :date_picker, time: :time_picker, datetime: :datetime_picker} %>
          </div>
          <div class="col-md-1">
            <%= button_tag(type: 'submit', class: "btn btn-success btn-circle btn-lg") do %>
                <i class="icon-ok icon-white"></i> ADD
            <% end %>
          </div>
        </div></br>
    <% end %>
  </div>
</div>