</br>
<div class="row">
  <div class="col-md-12">
    <% if (tray_cycle.schedule.first - Time.now) < 24.hours %>
        <div class="alert alert-dismissible alert-danger">
          <strong><%= tray_cycle.title.upcase %> - TODAY</strong>
          <%= tray_cycle.schedule.first.strftime("%d %b.") %>
          <%= link_to '', tray_tray_cycle_path(@tray, tray_cycle.id), method: :delete, class: 'close glyphicon glyphicon-remove-sign pull-right' %>
          <a href="javascript:void(0)" class="alert-link"></a>
        </div>

    <% else %>
        <div class="alert alert-dismissible alert-success">
          <strong><%= tray_cycle.title.upcase %></strong>
          <%= distance_of_time_in_words_to_now(tray_cycle.schedule.first) %>
          <%= tray_cycle.schedule.first.strftime("%d %b.") %>
          <%= link_to '', tray_tray_cycle_path(@tray, tray_cycle.id), method: :delete, class: 'close glyphicon glyphicon-remove-sign pull-right' %>
          <a href="javascript:void(0)" class="alert-link"></a>
        </div>
    <% end %>

  </div>
</div>
