<p id="notice"><%= notice %></p>

<p>
  <strong>Ambcur:</strong>
  <%= @datalog.ambcur %>
</p>

<p>
  <strong>Ambmin:</strong>
  <%= @datalog.ambmin %>
</p>

<p>
  <strong>Ambmax:</strong>
  <%= @datalog.ambmax %>
</p>

<p>
  <strong>Folcur:</strong>
  <%= @datalog.folcur %>
</p>

<p>
  <strong>Folmin:</strong>
  <%= @datalog.folmin %>
</p>

<p>
  <strong>Folmax:</strong>
  <%= @datalog.folmax %>
</p>

<p>
  <strong>Ph:</strong>
  <%= @datalog.ph %>
</p>

<p>
  <strong>Heatman:</strong>
  <%= @datalog.heatman %>
</p>

<p>
  <strong>H202:</strong>
  <%= @datalog.h202 %>
</p>

<p>
  <strong>Tds:</strong>
  <%= @datalog.tds %>
</p>

<%= link_to 'Edit', edit_datalog_path(@datalog) %> |
<%= link_to 'Back', datalogs_path %>
