<%= render "shared/errors", obj: @plant %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="jumbotron">
      <%= form_for(@plant, html: {class: 'form-horizontal'}) do |f| %>
          <% if @plant.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this grow from being saved:</h2>

                <ul>
                  <% @plant.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>

          <%= f.label :images_files %><br>
          <%= f.attachment_field :images_files, multiple: true, direct: true, presigned: true %>

          <%= f.label 'NAME' %>
          <%= f.text_field :title, class: 'form-control', id: 'focusedInput1', placeholder: 'ENTER NAME' %>
          <%= f.label :notes %>
          <%= f.text_area :notes, rows: 10, cols: 10, class: 'form-control', placeholder: 'NOTES' %><br>
          <%= f.label 'SELECT TRAY' %>
          <%= f.label :species %>
          <%= f.text_field :species, class: 'form-control', id: 'focusedInput1', placeholder: 'ENTER SPECIES' %>
          <%= f.hidden_field :tray_id, value: params[:tray_id] %>
          <% if params[:tray_id].nil? %>
              <%= f.collection_select(:tray_id, current_user.trays, :id, :title) %></br></br>
          <% end %>
          <%= f.submit class: 'btn btn-raised hoverable btn-success' %>
          <%= link_to 'CANCEL', plants_path, class: 'btn btn-raised hoverable btn-info' %>
      <% end %>
    </div>

  </div>
</div>






