<div class="row">
  <div class="col-md-12">
      <p>TRANSPLANT</p>
      <p>PLANTED IN <%= Tray.find(@plant.tray_id).title.upcase %></p>
      <%= form_for(@plant, html: {class: 'form-horizontal'}) do |f| %>
          <% if @plant.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this grow from being saved:</h2>

                <ul>
                  <% @plant.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <%= f.label 'TRANSPLANT TO: ' %>
          <%= f.hidden_field :tray_id, value: params[:tray_id] %>
          <% if params[:tray_id].nil? %>
              <%= f.collection_select(:tray_id, Tray.all, :id, :title) %>
          <% end %><br>

          <%= f.submit 'TRANSPLANT PLANT', class: 'btn btn-raised hoverable btn-success' %>
      <% end %>
  </div>
</div>
