<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h2><%= @plant.title.upcase %></h2>
      <h4>TRAY: <%= Tray.find(@plant.tray_id).title.upcase %></h4>
      <p><%= @plant.notes.upcase %></p>
      <h4>Planted <%= time_ago_in_words(@plant.created_at) %> ago.</h4>

      <%= link_to 'Edit', edit_plant_path(@plant), class: "btn btn-raised btn-info hoverable" %>
      <%= link_to 'BACK', plants_path, class: "btn btn-raised hoverable" %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="col-md-8">
      <div class="jumbotron">
        <h2>STATUS</h2>
        <% if @plant.plantdats.length == 0 %>
            <div class="alert alert-dismissible alert-success">
              <H5>TODO: ADD YOUR DAILIES</H5>
              <a href="javascript:void(0)" class="alert-link"></a>
            </div>
            <%= render 'plantdats/form' %>
        <% else %>
            <% @plant.plantdats.each do |data| %>

                <table class="table table-striped table-hover ">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>CURRENT</th>
                    <th>MIN TEMP</th>
                    <th>MAX TEMP</th>
                    <th><%= data.created_at.strftime('%c') %></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>AMBIENT Temp</td>
                    <td><%= data.ambtemp %></td>
                    <td><%= data.ambtempmin %></td>
                    <td><%= data.ambtembmax %></td>
                  </tr>
                  <tr>
                    <td>FOLIAR Temp</td>
                    <td><%= data.foltempcur %></td>
                    <td><%= data.foltempmin %></td>
                    <td><%= data.foltempmax %></td>
                  </tr>
                  <tr>
                    <th>pH</th>
                    <th>HEATMAT</th>
                    <th>H2O2</th>
                  </tr>
                  <tr>
                    <td><%= data.ph %></td>
                    <td><%= data.heatmat %></td>
                    <td><%= data.h202 %></td>
                  </tr>
                  </tbody>
                </table>
            <% end %>
        <% end %>

      </div>
    </div>
    <div class="col-md-4">
        <%= render 'tasks/form' %>
        <%= render @plant.tasks.reject(&:new_record?) %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">

      <div class="col-md-2">
        <%= form_for(@plant, html: {class: 'form-horizontal'}) do |f| %>
            <% if @plant.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this grow from being saved:</h2>

                  <ul>
                    <% @plant.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
            <%= f.attachment_field :images_files, multiple: true, direct: true, presigned: true %>
            <%= f.submit class: 'btn btn-raised hoverable btn-success' %>
        <% end %>
      </div>

        <% @plant.images.each do |i| %>
            <%= attachment_image_tag(i, :file, :fill, 150, 150, format: "jpg") %>
        <% end %>
    </div>
  </div>
</div>